n8n_workflow_example.json
{
  "name": "AI Schema Generator - Async Workflow",
  "nodes": [
    {
      "parameters": {},
      "id": "trigger-node",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300],
      "webhookId": "schema-generator"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://your-api-url:8000/crawl/async",
        "authentication": "none",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "base_url",
              "value": "={{ $json.body.url }}"
            },
            {
              "name": "max_pages",
              "value": "={{ $json.body.max_pages || 10 }}"
            }
          ]
        },
        "options": {}
      },
      "id": "start-crawl",
      "name": "Start Crawl Job",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [450, 300]
    },
    {
      "parameters": {
        "mode": "loop",
        "batchSize": 1,
        "options": {}
      },
      "id": "wait-loop",
      "name": "Wait for Completion",
      "type": "n8n-nodes-base.loop",
      "typeVersion": 1,
      "position": [650, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "check-status",
              "leftValue": "={{ $json.status }}",
              "rightValue": "completed",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "check-complete",
      "name": "Is Complete?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [850, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=http://your-api-url:8000/crawl/status/{{ $('Start Crawl Job').item.json.job_id }}",
        "authentication": "none",
        "options": {}
      },
      "id": "poll-status",
      "name": "Poll Status",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [650, 500]
    },
    {
      "parameters": {
        "amount": 5,
        "unit": "seconds"
      },
      "id": "wait-5sec",
      "name": "Wait 5 seconds",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [650, 700]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=http://your-api-url:8000/crawl/result/{{ $('Start Crawl Job').item.json.job_id }}",
        "authentication": "none",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "id": "get-result",
      "name": "Get ZIP Result",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [1050, 200]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "progress-display",
              "name": "latest_progress",
              "value": "={{ $json.progress[$json.progress.length - 1]?.message || 'Processing...' }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "show-progress",
      "name": "Show Progress",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3,
      "position": [850, 500]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Start Crawl Job",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Start Crawl Job": {
      "main": [
        [
          {
            "node": "Wait for Completion",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait for Completion": {
      "main": [
        [
          {
            "node": "Poll Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Poll Status": {
      "main": [
        [
          {
            "node": "Show Progress",
            "type": "main",
            "index": 0
          },
          {
            "node": "Is Complete?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Show Progress": {
      "main": [
        [
          {
            "node": "Wait 5 seconds",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait 5 seconds": {
      "main": [
        [
          {
            "node": "Poll Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Complete?": {
      "main": [
        [
          {
            "node": "Get ZIP Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2024-01-01T00:00:00.000Z",
  "versionId": "1"
}

